.header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .logo {
    height: 40px;
  }
  